<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydra</title>
    <link rel="shortcut icon" href="assets/icons/fvc.png" type="image/png">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <section class="header">
        <header class="header_header">
        <div class="container">
            <nav class="header__nav">
                <a class="header__logo" href="#">
                    <img class="header__logo1" src="./assets/logo/logo.svg" alt="">
                    <img class="header__logo2" src="./assets/logo/hydra.svg" alt="">
                </a>
                <ul class="header__menu">
                    <li class="header__menu__list"><a href="#">ABOUT</a></li>
                    <li class="header__menu__list"><a href="#">SERVICES</a></li>
                    <li class="header__menu__list"><a href="#">TECHNOLOGIES</a></li>
                    <li class="header__menu__list"><a href="">HOW TO</a></li>
                </ul>
                <button class="header__button-contact">CONTACT US</button>
                <button class="header__button-join">JOIN US</button>
            </nav>
        </div>
    </header>
</section>

<main>
    <section class="main">
            <div class="container">
                <div class="wrapper-main">
                    <div class="main__titles">
                <p class="main__title1"><span class="colortext">Dive</span> Into The Depths</p>
                <p class="main__title2">Of <span class="colortext">Virtual Reality</span> </p>
                    </div>

                    <p class="text1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore 
                    nisl tincidunt eget. Lectus mauris eros in vitae .
                    </p>
            
                <button class="main__button">BUILD YOUR WORLD</button>
                <img class="main__img-arrow" src="./assets/vectors/arrow-small-right.svg" alt="">

                    <div class="img-build">
                <img class="main__image-build" src="./assets/images/build-your-world.png" alt="">
                    </div>
            
                </div>

                <aside class="main__aside-contacts">
                    <div class="aside-contacts">

                    <div class="aside-address">
                    <img class="aside__image1" src="./assets/icons/Location-Icon.svg" alt="">
                    <p class="aside-address__title">Pay Us a Visit</p>
                    <p class="aside-address__content">Union St, Seattle, WA 98101, United States</p>
                    </div>

                    <div class="aside-call">
                    <img class="aside__image2" src="./assets/icons/phone-call.svg" alt="">
                    <p class="aside-call__title">Give Us a Call</p>
                    <p class="aside-call__content">(110) 1111-1010</p>
                    </div>
                    
                    <div class="aside-message">
                    <img class="aside__image3" src="./assets/icons/mail.svg" alt="">
                    <p class="aside-message__title">Send Us a Message</p>
                    <p class="aside-message__content">Contact@HydraVTech.com</p>
                    </div>
                    </div>
                </aside>
            </div>
    </section>

        <section class="introduction">
            <div class="container">
                <div class="introduction__wrapper">
                    <div class="introduction__titles">
                    <h2 class="title1">INTRODUCTION</h2>
                    <h2 class="title2">TO HYDRA VR</h2>
                    </div>
                    <img class="introduction__img-arrow" src="./assets/vectors/arrow-small-right.svg" alt="">
                    <p class="text2">Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat 
                    nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo 
                    quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare 
                    lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.</p>
                </div>
            </div>
        </section>

        <section class="about">
            <div class="container">
                <div class="about__wrapper">
                    <img class="about__image-vr" src="./assets/images/about.png" alt="">
                    <div class="about__titles">
                        <h2 class="title1">ABOUT</h2>
                        <h2 class="title2">HYDRA VR</h2>
                    </div>
                    <div class="text3">
                        Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus 
                        urna neque viverra justo. Vivamus at augue eget arcu dictum. Ultrices gravida 
                        dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in. 
                        Mattis aliquam faucibus purus in massa. Est placerat in egestas erat imperdiet 
                        sed. Consequat semper viverra nam libero justo laoreet sit amet. Aliquam 
                        etiam erat velit scelerisque in dictum non consectetur a. Laoreet sit amet 
                        cursus sit amet. Vel eros donec ac odio tempor orci dapibus. Sem nulla pha
                        retra diam sit amet nisl suscipit adipiscing bibendum. Leo a diam sollicitudi
                        n tempor.
                    </div>
                    <button class="about__button">
                        LETS GET IN TOUCH
                    </button>
                </div>
            </div>
        </section>

        <section class="why">
            <div class="container">
                <div class="why__wrapper">
                    <div class="why__titles">
                        <h2 class="title1">WHY BUILD</h2>
                        <h2 class="title2">WITH HYDRA?</h2>
                    </div>
                        <img class="why__img-arrow" src="./assets/vectors/arrow-small-right.svg" alt="">

                    <div class="text4">
                            Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat 
                            nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo 
                            quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare 
                            lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.
                    </div>
                </div>
            
            

            <div class="why-containers">
                <div class="why-container">
                    <img class="img-why" src="./assets/images/simulation.png" alt="">
                    <h2 class="title">SIMULATION</h2>
                    <div class="text-why">Vitae sapien pellentesque habitant morbi
                nunc. Viverra aliquet  porttitor rhoncus 
                libero justo laoreet sit amet vitae.</div>
                    <button class="button-why">TRY IT NOW</button>
                </div>

                <div class="why-container">
                    <img class="img-why" src="./assets/images/education.png" alt="">
                    <h2 class="title">EDUCATION</h2>
                    <div class="text-why">Vitae sapien pellentesque habitant morbi
                nunc. Viverra aliquet  porttitor rhoncus 
                libero justo laoreet sit amet vitae.</div>
                    <button class="button-why">TRY IT NOW</button>
                </div>

                <div class="why-container">
                    <img class="img-why" src="./assets/images/self-care.png" alt="">
                    <h2 class="title">SELF-CARE</h2>
                    <div class="text-why">Vitae sapien pellentesque habitant morbi
                nunc. Viverra aliquet  porttitor rhoncus 
                libero justo laoreet sit amet vitae.</div>
                    <button class="button-why">TRY IT NOW</button>
                </div>

                <div class="why-container">
                    <img class="img-why" src="./assets/images/outdoor.png" alt="">
                    <h2 class="title">OUTDOOR</h2>
                    <div class="text-why">Vitae sapien pellentesque habitant morbi
                nunc. Viverra aliquet  porttitor rhoncus 
                libero justo laoreet sit amet vitae.</div>
                    <button class="button-why">TRY IT NOW</button>
                </div>
            </div>
        </div>
        </section>

        <section class="tech">
            <div class="container">
                <div class="tech__titles">
                    <h2 class="title1">TECHNOLOGIES & HARDWARE</h2>
                    <p class="title2">USED BY HYDRA VR.</p>
                </div>
            </div>
            <div class="tech__icons">
            <img class="tech__icons__item" src="./assets/images/unreal_engine.png" alt="">
            <img class="tech__icons__item" src="./assets/images/unity.png" alt="">
            <img class="tech__icons__item" src="./assets/images/oculus.png" alt="">
            <img class="tech__icons__item" src="./assets/images/vive.png" alt="">
            </div>
        </section>


        <section class="how">
            <div class="container">
                <div class="how__wrapper">
                    <div class="how__titles">
                        <h2 class="title1">HOW WE BUILD</h2>
                        <p class="title2">WITH HYDRA VR?</p>
                    </div>
                    <img class="how__img-arrow" src="./assets/vectors/arrow-small-right.svg" alt="">
                    <div class="text5">
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat 
                    nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo 
                    quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare 
                    lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.
                    </div>
                </div>

                <div class="how-ellipse">
                    <div class="how-ellipde-container">
                        <div class="ellipse">01</div>
                    
                        <div class="how-content">
                        <img class="how-ellipse__img" src="./assets/vectors/arrow-small-right.svg" alt="">
                        <p class="how-content__text">3D Conception
                        & Design</p>
                        </div>
                    </div>    


                    <div class="how-ellipde-container">
                        <div class="ellipse">02</div>
                    
                        <div class="how-content">
                        <img class="how-ellipse__img" src="./assets/vectors/arrow-small-right.svg" alt="">
                        <p class="how-content__text">Interaction
                        Design</p>
                        </div>
                    </div>


                    <div class="how-ellipde-container">
                        <div class="ellipse">03</div>
                    
                        <div class="how-content">
                        <img class="how-ellipse__img" src="./assets/vectors/arrow-small-right.svg" alt="">
                        <p class="how-content__text">VR World
                        User Testing</p>
                        </div>
                    </div>

                    <div class="how-ellipde-container">
                        <div class="ellipse">04</div>
                    
                        <div class="how-content">
                        <img class="how-ellipse__img" src="./assets/vectors/arrow-small-right.svg" alt="">
                        <p class="how-content__text">Hydra VR
                        Deploy</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<section class="form">
    <div class="container">
        <div class="form-container">
<h2 class="form__title1">JOIN HYDRA</h2>
<div>
    <svg xmlns="http://www.w3.org/2000/svg" width="414" height="2" viewBox="0 0 414 2" fill="none">
    <path d="M0 1H414" stroke="url(#paint0_linear_13_46)"/>
    <defs>
    <linearGradient id="paint0_linear_13_46" x1="414" y1="1.00238" x2="0" y2="1" gradientUnits="userSpaceOnUse">
    <stop stop-color="#343045"/>
    <stop offset="0.348958" stop-color="#C0B7E8"/>
    <stop offset="0.6875" stop-color="#8176AF"/>
    <stop offset="1" stop-color="#343045"/>
    </linearGradient>
    </defs>
    </svg>
</div>
<div class="form__title2">Let’s Build Your VR Experience</div>
<form action="">
    
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" placeholder="First Name" class="first_name"/>

        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" placeholder="Last Name" class="last_name"/>

        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="E-mail" class="email"/>

        <label for="phone">Phone Number</label>
        <input type="number" id="phone" placeholder="Phone Number" class="phone"/>

        <label for="subject">Subject</label>
        <input type="text" id="subject" placeholder="Subject" class="subject"/>

        <label for="message"></label>
        <textarea name="message" id="message" class="message" rows="2" cols="120">Tell us something..</textarea>
    
        <button type="submit" class="footer__button">SEND TO HYDRA</button>

</form>
        </div>
    </div>
</section>

</main>

<footer class="footer">
    <div class="container">
<div class="footer__wrapper">
            <img class="footer__img" src="./assets/icons/Frame.svg" alt="">
            <img class="footer__img" src="./assets/vectors/Vector 20.svg" alt="">
    <nav class="footer__nav1">
        <ul class="footer__menu2">
            <li class="footer__menu1__item">
                    <a href="#">ABOUT</a>
            </li>
            <li class="footer__menu1__item">
                <a href="#">SERVICES</a>
            </li>
            <li class="footer__menu1__item">
                <a href="#">TECHNOLOGIES</a>
            </li>
            <li class="footer__menu1__item">
                <a href="#">HOW TO</a>
            </li>
            <li class="footer__menu1__item">
                <a href="#">JOIN HYDRA</a>
            </li>
        </ul>
    </nav>
            <img class="footer__img" src="./assets/vectors/Vector 20.svg" alt="">
    <nav class="footer__nav2">
        <ul class="footer__menu2">
            <li class="footer__menu2__item">
                <a href="#">FAQ</a>
            </li>
            <li class="footer__menu2__item">
                <a href="#">SITE MAP</a>
            </li>
            <li class="footer__menu2__item">
                <a href="#">CONDITIONS</a>
            </li>
            <li class="footer__menu2__item">
                <a href="#">LICENSES</a>
            </li>
        </ul>
    </nav>
            <img class="footer__img" src="./assets/vectors/Vector 20.svg" alt="">
    <address class="footer__address">
        <h4 class="footer__title">SOCIALIZE WITH HYDRA</h4>
        <div class="address__social-sites">
        <a href="#" target="_blank"><img src="assets/icons/facebook.svg" class="social-sites" title="Facebook"></a>
        <a href="#" target="_blank"><img src="assets/icons/twitter.svg" class="social-sites" title="Twitter"></a>
        <a href="#" target="_blank"><img src="assets/icons/linkedin.svg" class="social-sites" title="LinkedIn"></a>
        <a href="#" target="_blank"><img src="assets/icons/youtube.svg" class="social-sites" title="Youtube"></a>
        <a href="#" target="_blank"><img src="assets/icons/instagram.svg" class="social-sites" title="Instagram"></a>
        <a href="#" target="_blank"><img src="assets/icons/pinterest.svg" class="social-sites" title="Pinterest"></a>
        </div>
        <button class="footer__button">
            BUILD YOUR WORLD
        </button>
    </address>
</div>
<div class="footer__stroke">
    <svg xmlns="http://www.w3.org/2000/svg" width="1269" height="2" viewBox="0 0 1269 2" fill="none">
        <path d="M0 1H1269" stroke="url(#paint0_linear_13_63)"/>
        <defs>
          <linearGradient id="paint0_linear_13_63" x1="1269" y1="1.00238" x2="3.52735e-07" y2="0.980001" gradientUnits="userSpaceOnUse">
            <stop stop-color="#343045"/>
            <stop offset="0.348958" stop-color="#C0B7E8"/>
            <stop offset="0.6875" stop-color="#8176AF"/>
            <stop offset="1" stop-color="#343045"/>
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="footer__author">2023 © HYDRA LANDING PAGE - BY ZINE. E. FALOUTI - ALL RIGHTS RESERVED</div> 
</div>
</footer>
</body>
</html>