<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydra</title>
    <link rel="shortcut icon" href="assets/icons/fvc.png" type="image/png">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <section class="header">
        <header class="header_header">
        <div class="header_container">
            <nav class="header_nav">
                <a class="header_logo" href="#">
                    <img class="header_logo1" src="./assets/logo/logo.svg" alt="">
                    <img class="header_logo2" src="./assets/logo/hydra.svg" alt="">
                </a>
                <ul class="header_menu">
                    <li class="header_menu__list"><a href="#">ABOUT</a></li>
                    <li class="header_menu__list"><a href="#">SERVICES</a></li>
                    <li class="header_menu__list"><a href="#">TECHNOLOGIES</a></li>
                    <li class="header_menu__list"><a href="">HOW TO</a></li>
                </ul>
                <button class="header_button-contact">CONTACT US</button>
                <button class="header_button-jpon">JOIN US</button>
            </nav>
        </div>
    </header>
</section>

<main>
    <section class="main">
        <section class="main_top">
            <div class="main_container">
                <h1 class="main_title-hydra">HYDRA</h1>
                <p class="main_subtitle">Dive Into The Depths</p>
                <p class="main_subtitle">Of Virtual Reality</p>
                <p class="main_top_text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore 
                    nisl tincidunt eget. Lectus mauris eros in vitae .
                </p>
                <buttom class="main_button-more">
                    <span class="main_title-build">BUILD YOUR WORLD</span>
                </buttom>
                <img class="main_image-build" src="./assets/images/build-your-world.png" alt="">
                <footer class="footer_contacts">

                    <div class="footer_address">
                    <p class="footer_address_title">Pay Us a Visit</p>
                    <p class="footer_address_content">Union St, Seattle, WA 98101, United States</p>
                    </div>

                    <div class="footer_call">
                    <p class="footer_call_title">Give Us a Call</p>
                    <p class="footer_call_content">(110) 1111-1010</p>
                    </div>
                    
                    <div class="footer_message">
                    <p class="footer_message_title">Send Us a Message</p>
                    <p class="footer_message_content">Contact@HydraVTech.com</p>
                    </div>
                    
                </footer>
            </div>
        </section>
    </section>

        <section class="introduction">
            <div class="introduction_container">
                <div class="introduction___titles">
                    <h2 class="introduction___title1">INTRODUCTION</h2>
                    <h2 class="introduction___title2">TO HYDRA VR</h2>
                    <p class="introduction_about__title"></p>
                </div>
                <p>Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat 
                    nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo 
                    quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare 
                    lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.</p>
            </div>
        </section>

        <section class="about">
            <div class="about_container">
            <img class="about_image-vr" src="./assets/images/about.png" alt="">
            <div class="about__titles">
                <h2 class="about__title1">ABOUT</h2>
                    <h2 class="about__title2">HYDRA VR</h2>
                    <p class="about__text">
                        Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis rhoncus 
                        urna neque viverra justo. Vivamus at augue eget arcu dictum. Ultrices gravida 
                        dictum fusce ut placerat orci. Aenean et tortor at risus viverra adipiscing at in. 
                        Mattis aliquam faucibus purus in massa. Est placerat in egestas erat imperdiet 
                        sed. Consequat semper viverra nam libero justo laoreet sit amet. Aliquam 
                        etiam erat velit scelerisque in dictum non consectetur a. Laoreet sit amet 
                        cursus sit amet. Vel eros donec ac odio tempor orci dapibus. Sem nulla pha
                        retra diam sit amet nisl suscipit adipiscing bibendum. Leo a diam sollicitudi
                        n tempor.</p>
            </div>
            <buttom class="about_button-more">
                <span class="about_button_title">LETS GET IN TOUCH</span>
            </buttom>
        </div>
        </section>

        <section class="why">
            <div class="why_container">
                <div class="why__titles">
                    <h2 class="why__title1">WHY BUILD</h2>
                        <h2 class="why__title2">WITH HYDRA?</h2>
                        <p class="why__text">
                            Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat 
                            nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo 
                            quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare 
                            lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.</p>
                </div>
            </div>
        </section>

        <section class="tech">
            <div class="tech_container">
                <div class="tech__titles">
                    <h2 class="tech__title1">TECHNOLOGIES & HARDWARE</h2>
                    <p class="tech__title2">USED BY HYDRA VR.</p>
                </div>
            </div>
        </section>


        <section class="how">
            <div class="how_container">
                <div class="how__titles">
                    <h2 class="how__title1">HOW WE BUILD</h2>
                    <p class="how__title2">WITH HYDRA VR?</p>
                </div>
                <p>
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat 
                    nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo 
                    quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare 
                    lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.
                <div class="how_ellipse">
                    <img class="1" src="./assets/vectors/Ellipse 7.svg" alt="">
                    <img class="2" src="./assets/vectors/Ellipse 8.svg" alt="">
                    <img class="1" src="./assets/vectors/arrow-small-right.svg" alt="">
                    <p>3D Conception
                        & Design</p>


                    <img class="1" src="./assets/vectors/Ellipse 7.svg" alt="">
                    <img class="2" src="./assets/vectors/Ellipse 8.svg" alt="">
                    <img class="1" src="./assets/vectors/arrow-small-right.svg" alt="">
                    <p>Interaction
                        Design</p>

                    <img class="1" src="./assets/vectors/Ellipse 7.svg" alt="">
                    <img class="2" src="./assets/vectors/Ellipse 8.svg" alt="">
                    <img class="1" src="./assets/vectors/arrow-small-right.svg" alt="">
                    <p>VR World
                        User Testing</p>

                    <img class="1" src="./assets/vectors/Ellipse 7.svg" alt="">
                    <img class="2" src="./assets/vectors/Ellipse 8.svg" alt="">
                    <img class="1" src="./assets/vectors/arrow-small-right.svg" alt="">
                    <p>Hydra VR
                        Deploy</p>
                </div>
            </div>
        </section>

<section class="form">
    <div class="form_container">
<h2>JOIN HYDRA</h2>
<p>Let’s Build Your VR Experience</p>
<form>
    <div>
        <label for="first_name">First Name</label>
        <input type="text" id="first_name"/>
    </div>
    <div>
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name"/>
    </div>
    <div>
        <label for="email">E-mail</label>
        <input type="email" id="email"/>
    </div>
    <div>
        <label for="phone">Phone Number</label>
        <input type="number" id="phone"/>
    </div>
    <div>
        <label for="message"></label>
        <textarea name="message" id="message" rows="2" cols="120">Tell us something..</textarea>
    </div>
    <div>
        <label for="subject">Subject</label>
        <input type="text" id="subject"/>
    </div> 
    <div><button>Send to Hydra</button></div>
</form>
</div>
</section>

</main>

<footer class="footer">
    <nav class="footer_menu">
        <ul>
            <img class="vector" src="./assets/icons/Frame.svg" alt="">
            <img class="vector" src="./assets/vectors/Vector 20.svg" alt="">
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Technologies</a></li>
            <li><a href="#">How to</a></li>
            <li><a href="#">Join hydra</a></li>
            <img class="vector" src="./assets/vectors/Vector 20.svg" alt="">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="#">Conditions</a></li>
            <li><a href="#">Licenses</a></li>
            <img class="vector" src="./assets/vectors/Vector 20.svg" alt="">
        </ul>
    </nav>
    <address>
        <h4>SOCIALIZE WITH HYDRA</h4>
        <a href="#" target="_blank"><img src="assets/icons/facebook.svg" title="Facebook" style="width: 5vw; height: 5vh"></a>
        <a href="#" target="_blank"><img src="assets/icons/twitter.svg" title="Twitter" style="width: 5vw; height: 5vh"></a>
        <a href="#" target="_blank"><img src="assets/icons/linkedin.svg" title="LinkedIn" style="width: 5vw; height: 5vh"></a>
        <a href="#" target="_blank"><img src="assets/icons/youtube.svg" title="Youtube" style="width: 5vw; height: 5vh"></a>
        <a href="#" target="_blank"><img src="assets/icons/instagram.svg" title="Instagram" style="width: 5vw; height: 5vh"></a>
        <a href="#" target="_blank"><img src="assets/icons/pinterest.svg" title="Pinterest" style="width: 5vw; height: 5vh"></a>
        <buttom class="more">
            <span class="build_your_world">BUILD YOUR WORLD</span>
        </buttom>
    </address>
    2023 © HYDRA LANDING PAGE - BY ZINE. E. FALOUTI - ALL RIGHTS RESERVED 
</footer>
</body>
</html>